{% extends "base.html" %}
{% block menu %}
    {% block navbar %}
        {{super() }}
    {% endblock %}
{% endblock %}
{% block facture %}
    <div class="container">
        <div class="card">
                <div class="card-header bg-transparent">
                    <div class="d-flex flex-row justify-content-between">
                        {% if mode == "client" %}
                            <h4 class=" flex-grow  m-1 ">Factures de {{ info_client.prenom }} {{ info_client.nom }}{{ info_client.id }}</h4>
                        {% else %}
                            <h4 class=" flex-grow  m-1 ">Toutes les factures</h4>
                        {% endif %}
                        <button id="addClient_{{ info_client.id }}" class="btn " onclick="creeFacture(this)"><i class="fa fa-plus-circle mt-n2" style="font-size:45px;color:green;"></i>
                    </div>
                </div>
                <div class="card-body d-flex flex-row fw-bolder">
                    <span class="col-1 ">#</span>
                    <span class="col ">Date</span>
                    <span class="col ">Produit</span>
                    <span class="col ">Prix</span>
                    <span class="col ml-auto text-end ">Actions</span>
                </div>
                <ul class="list-group list-group-flush">
                    {% for fact in results.items %}
                        <li class="list-group-item ">
                            <div class="d-flex flex-row">
                                <span class="col-1 ">{{ loop.index }}</span>
                                <span class="col " >{{ fact.timestamp }}</span>
                                <span class="col " >{{ fact.produit }}</span>
                                <span class="col " >{{ fact.prix }} CHF</span>
                                <span id="info_{{ fact.id }}" class="btn btn-outline-success btn-small " onclick="InformationFacture(this)">
                                    <i class="fa fa-info-circle mt-n2" ></i>
                                </span>
                                <span id="pdf_{{ info_client.id }}_{{ fact.id }}" class="btn btn-outline-success btn-small " onclick="generate_pdf(this)">
                                    <i class="fa fa-file-pdf-o mt-n2" ></i>
                                </span>
                            </div>
                       </li> 
                    {% endfor %}
                </ul>
                <nav class="d-flex justify-content-center mt-3">
                    <ul class="pagination">
                        {% if results.page > 1 %}
                            <li class="page-item">
                        {% else %}
                            <li class="page-item disabled">
                        {% endif %}
                                <a class="page-link" href="{{ results.links.prev }}">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                        {% for number in range(1,results.pages+1) %}
                            {% if number == results.page %}
                                <li class="page-item disabled">
                            {% else %}
                                <li class="page-item">
                            {% endif %}    
                                {% if mode == "client" %}
                                    <a class="page-link" href="{{ url_for('read_client_facture',client_id = info_client.id) }}?page={{ number }} &size={{ results.size }}">{{ number }}</a></li>
                                {% else %}
                                    <a class="page-link" href="{{ url_for('read_all_facture') }}?page={{ number }} &size={{ results.size }}">{{ number }}</a></li>
                                {% endif %}
                        {% endfor %}
                        {% if results.page < results.pages %}
                            <li class="page-item">
                                <a class="page-link" href="{{ results.links.next }}">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="{{ results.links.next }}">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- facture modal --------------------------------------------------------------------------------------- -->
    <div class="modal fade" id="fact_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="modal_title">Nouvelle facture</span><span> pour: {{ info_client.nom }} {{ info_client.prenom }}</span></h5>
                    <h5 class="d-none"><span  id="user_id" >{{ info_client.id }}</span><span id="factInfo_id"{{ results.id }}></span></h5>
                    <div class="row d-flex justify-content-between">
                        <div class="btn" onclick="changeLock(this)"><i id="lockIcon"class="fa fa-lock mt-n4" style="font-size:35px;color:lightgrey;"></i></div>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="formEdit" class="d-none">
                        <div class="mb-3 row"style="height:40px;">
                            <div class="col-3 text-end pt-2">Date:</div>
                            <div class="col">
                                <input type="date" class="form-control text-start pt-2" id="dateMod" >
                            </div>
                        </div>
                        <div class="mb-3 row"style="height:40px;">
                            <div class="col-3 text-end pt-2">Produit:</div>
                            <div class="col">
                                <input type="text" class="form-control" id="produitMod" >
                            </div>
                        </div>
                        <div class="mb-3 row"style="height:40px;">
                            <div class="col-3 text-end pt-2">Prix:</div>
                            <div class="col">
                                <input type="text" class="form-control" id="prixMod" >
                            </div>
                        </div>
                        <div class="mb-3 row"style="height:40px;">
                            <div class="col-3 text-end pt-2">Remise:</div>
                            <div class="col">
                                <input type="text" class="form-control" id="remiseMod" >
                            </div>
                        </div>
                    </form>
                    <div  id="formAff"class="d-block" >
                        <div class="mb-3 row" style="height:40px;">
                            <div class="col-3 text-end align-middle pt-2">Date:</div>
                            <div class="col pt-2 ml-3" id="dateAff"></div>
                        </div>
                        <div class="mb-3 row "style="height:40px;">
                            <div class="col-3 text-end align-middle pt-2">Produit:</div>
                            <div class="col pt-2 ml-3" id="produitAff"></div>
                        </div>
                        <div class="mb-3 row "style="height:40px;">
                            <div class="col-3 text-end align-middle pt-2">Prix:</div>
                            <div class="col pt-2 ml-3" id="prixAff"></div>
                        </div>
                        <div class="mb-3 row "style="height:40px;">
                            <div class="col-3 text-end align-middle pt-2">Remise:</div>
                            <div class="col pt-2 ml-3" id="remiseAff"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"id="validFact" class="btn btn-success d-none" onclick="validFactForm(this)"><i class="fa fa-lg fa-pencil m-2" ></i>Modify</button>
                    <button type="button"id="deleteFact" class="btn btn-danger d-none" onclick="effaceFacture(this)"><i class="fa fa-lg fa-trash-o m-2 ml-1" ></i>Delete</button>
                    <button type="button"id="createFact" class="btn btn-success d-none" onclick="validFactForm(this)"><i class="fa fa-lg fa-pencil m-2 ml-1" ></i>Create</button>
                    <button type="button" class="btn btn-secondary" onclick="closeModal()"><i class="fa fa-lg fa-close m-2 ml-1" ></i>Cancel</button>
                </div>
            </div> 
        </div>
    </div>
    <script src="{{ url_for('static', path='scripts/facture.js') }}"></script>
{% endblock %}
